tel_log.log
**/tel/**
**/photos/**
**/videos/**
config.ini
ooodnakov.session*
.vscode/*
**/__pycache__/**
downloaded_*
media_stats.json
mysql/*
valkeydata/
uv.lock
.coverage
.env
.gemini/
gha-creds-*.json
**/*.mo
.coverage
