# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
ADMIN_USER_ID=
TARGET_CHANNEL_ID=
TELEGRAM_ADMIN_IDS=

# MinIO Configuration
MINIO_HOST=minio
MINIO_PORT=8999
MINIO_ACCESS_KEY=super_secret_name
MINIO_SECRET_KEY=super_secret_key

# Valkey Configuration
VALKEY_HOST=valkey_common
VALKEY_PORT=6379
VALKEY_PASS=redis
REDIS_PREFIX=telegram_auto_poster

# Database Configuration
DB_MYSQL_HOST=telegram_db
DB_MYSQL_PORT=3306
DB_MYSQL_USER=tma
DB_MYSQL_PASSWORD=tma
DB_MYSQL_NAME=tma

# Timezone
TZ=Europe/Moscow
