{% extends "base.html" %}
{% block content %}
<h1>Queued Media</h1>
{% if posts %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">File Path</th>
                <th scope="col">Scheduled Time</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for path, ts, url in posts %}
            <tr>
                <td>{{ path }}</td>
                <td>{{ ts }}</td>
                <td>
                    {% if path.startswith('videos/') %}
                        <a href="{{ url }}" target="_blank">View Video</a>
                    {% else %}
                        <img src="{{ url }}" class="img-fluid" style="max-width: 200px;">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info" role="alert">
    No media scheduled.
</div>
{% endif %}
{% endblock %}