{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0">User Suggestions</h1>
    {% set key = request.query_params.get('key') %}
    {% set key_query = '?key=' ~ key if key else '' %}
    <a class="btn btn-sm btn-outline-secondary" href="/suggestions{{ key_query }}">Refresh</a>
</div>
{% set origin = "suggestions" %}
{% set alt_text = "suggestion" %}
{% set empty_message = "No suggestions pending." %}
{% include "_post_grid.html" %}
{% endblock %}
